 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Roboto:wght@300&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    
font-family: 'Work Sans', sans-serif;
}
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    
    
}
nav > ul{
    display: flex;
    align-items: center;
    
    
}
nav li{
    list-style: none;
    margin-right: 20px;
    
    
    
}
nav li a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
}
.nav-title{
    color:  #131313;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    

}
.banner-content{
    max-width: 862px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: #131313;
text-align: center;
font-size: 64px;
font-weight: 700;

}
.banner-description{
    color: #727272;
font-size: 16px;
font-weight:400px;
}
.btn-1{
    border-radius: 8px;
background: #FF900E;
padding: 10px;
margin-bottom: 10px;
border: none;

}
.banner img{
    width: 100%;
}
main{
    max-width: 1440px;
    margin: 70px auto;
}
.teams-container{
    display: flex;
    align-items: center;
}
.teams-description{
    color: #727272;
}
.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.text-1{
    color: #727272;
font-size: 45px;
font-weight: 500;
}
.text-2{
    color: #131313;
font-size: 45px;
font-weight: 700;
}
.text-3{
    color: #FF900E;
font-size: 45px;
font-weight: 700px;
}











@media screen and (max-width:576px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .teams-container{
        flex-direction: column;
       }
       .teams-image-container{
        grid-template-columns: 1fr;
    }
        

}
@media  screen and (min-width:576px) and (max-width:960px) {

    nav,.teams-container{
        flex-direction: column;
    }
    
}
    
   
    
